/* 
    Created on : Mar 12, 2015, 9:51:59 PM
    Author     : Andrew
*/

body {
    background: #f8f8f8;
    color: #000;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
