/* 
    Created on : Mar 12, 2015, 9:51:59 PM
    Author     : Andrew
*/

body {
    background: #f8f8f8;
    color: #000;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

nav a {
    display: block;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    text-decoration: none;
}

nav a:last-of-type {
    border-bottom: none;
}